body {
    background-image: url('assets/BackgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: #27282b;
    
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; 
}

h1, h2, h3 {
    font-weight: 600;
    color: #ffffff;
}

#genero-fps h1 {
    border-bottom: 3px solid #37004f;
    padding-bottom: 10px;
    display: inline-block; 
}

.navbar {
    background-color: #37004f !important;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem 1rem;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    padding: 1rem !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-link:hover {
    background-color: #6a4494;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #37004f;
    border: none;
    padding: 0;
}

.dropdown-item {
    color: #ffffff; 
    background-color: transparent; 
    transition: background-color 0.2s ease;
    padding: 10px 15px; 

    border-bottom: 1px solid #000000; 
}

.dropdown-item:last-child {
    border-bottom: none; 
}

.dropdown-item:hover, 
.dropdown-item:focus {
    background-color: #6a4494; 
    color: #ffffff; 
}

.navbar-nav .dropdown-toggle:focus,
.navbar-nav .dropdown-toggle:active,
.navbar-nav .dropdown-toggle[aria-expanded="true"] {
    background-color: transparent !important; 
    color: #ffffff !important;
    box-shadow: none !important;
}


.card {
    background-color: #010101; 
    border: 3px solid #37004f; 
    border-radius: 8px; 
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-body {
    text-align: center;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px #37004f;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #ffffff;
    font-weight: 600;
}

.card-text {
    color: #ffffff; 
    font-size: 0.95rem;
}

.curiosidade-container {
    background-color: #343a40;
    border: 1px solid #495057;
    text-align: center; 
}

.btn-primary {
    background-color: #37004f; 
    border-color: #37004f;
    font-weight: 600;
    padding: 10px 25px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-primary:hover {
     background-color: #6a4494;  
     border-color: #6a4494;     
}

#linhaInicio{
    color: #37004f;
}
