@font-face {
    font-family: FG;
    src: url("/assets/MotivaSans-Regular_woff.ttf") format("opentype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FG;
}


h1 {
    color: #c7d5e0;
    font-family: FG;
}

h3 {
    color: #c7d5e0;
    font-family: FG;
}

p {
     color: #c7d5e0;
     font-family: FG;
}

/* navbar */

.navbar {
    background-color: #37004f !important;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem 1rem;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    padding: 1rem !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-link:hover {
    background-color: #6a4494;
    color: #ffffff;
}


.dropdown-menu {
    background-color: #37004f;
    border: none;
    padding: 0;
}

.dropdown-item {
    color: #ffffff;           
    background-color: transparent; 
    transition: background-color 0.2s ease;
    padding: 10px 15px; 

    border-bottom: 1px solid #000000; 
}

.dropdown-item:last-child {
    border-bottom: none; 
}

.dropdown-item:hover, 
.dropdown-item:focus {
    background-color: #6a4494;
    color: #ffffff;
}

.navbar-nav .dropdown-toggle,
.navbar-nav .dropdown-toggle:focus,
.navbar-nav .dropdown-toggle:active,
.navbar-nav .dropdown-toggle[aria-expanded="true"] {
    background-color: transparent !important; 
    color: #ffffff !important;
    box-shadow: none !important;
}

.marg {
    background-image: url('/assets/gif1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;


}

/* container */

.container {
    width: 80%;
    background: linear-gradient(145deg, #0e0b17, #1c1530);
    font-family: FG;
    display: flex;
    margin:auto;
    border: solid 2px #1c1530;
    flex-direction: column;
    
}

.topo {
    width: 100%;
    margin-top: 8rem;
    text-align: center;
}

.linha {
    width: 65%;
    border: solid 1px #c7d5e0;
    margin-top: 4rem;
    margin-left: 15rem;
}

/* catalogo */

.catalogo {
    margin-top: 13rem;
    margin-bottom: 13rem;
  font-family: FG;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 18rem;
  /* background-color: aqua; */
}

.boxC {
  position: relative;
  display: flex;
  width: 15rem;
  transition: width 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  background: #c7d5e0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  height: 15rem;
  border: 2px solid #1c1530;
  box-shadow: 0 0 20px #1c1530;
}

.boxC img {
  width: 15rem;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.info {
  width: 0;
  opacity: 0;
  padding: 20px;
  transition: all 0.3s ease;
}

.boxC:hover {
  width: 510px; /* aumenta o tamanho quando passa o mouse */
}

.boxC:hover .info {
  width: 200px;
  opacity: 1;
}



.boxC P, h3 {
    color: #0e0b17;
}

.box-link {
    text-decoration: none; /* Remove sublinhado */
    color: inherit; /* Mantém a cor do texto do elemento pai */
    display: block; /* Garante que o link ocupe o espaço necessário */
}

.box-link:hover .info {
    width: 200px;
    opacity: 1;
}

.box-link {
    /* ...outras propriedades... */
    cursor: pointer; /* Indica que é clicável */
}